{{ if eq .chezmoi.hostname "ml-server" -}}
    monitor=desc:LG Electronics LG ULTRAGEAR 204NTZN8J277,3440x1440@100,0x0,1.25
    monitor=desc:Samsung Electric Company Odyssey G95C HNTX800771,5120x1440@60,-652x1152,1.25
{{ end }}
