{{ if eq .chezmoi.hostname "arch-lenovo" -}}
source = ~/.config/hypr/conf/monitors/left_desk.conf
monitor=desc:BOE 0x0A1F,2560x1600@60,auto,1.333334
#monitor=HDMI-A-1,2048x1536@60,1440x0,1.333334 # right
#monitor=HDMI-A-1,2048x1536@60,0x-1152,1.333334 # above
monitor=HDMI-A-1,2048x1536@60,-1536x0,1.333334 # left
{{ else if eq .chezmoi.hostname "arch-surface" -}}
source = ~/.config/hypr/conf/monitors/left_desk.conf
monitor=eDP-1,2400x1600,0x0,1.333334
#monitor=DP-3,2048x1536@60,1440x0,1.333334 # right
#monitor=DP-3,2048x1536@60,0x-1152,1.333334 # above
monitor=DP-3,2048x1536@60,-1536x0,1.333334 # left
{{ else if eq .chezmoi.hostname "ml-server" -}}
source = ~/.config/hypr/conf/monitors/left_desk.conf
monitor=DP-3,1400x1050@60,-1400x0,1
{{ else if eq .chezmoi.hostname "ml-server-1" -}}
source = ~/.config/hypr/conf/monitors/left_desk.conf
{{ else if eq .chezmoi.hostname "ml-server-2" -}}
source = ~/.config/hypr/conf/monitors/dance_room.conf
{{ else -}}
source = ~/.config/hypr/conf/monitors/default.conf
{{ end }}
